{% extends "layout.twig" %} {% block title %}
MGM - Gallerie
{% endblock %}

{% block content %}

{%  if session.admin == true %}
<section>
    <h2>Telecharger une image</h2>
    
    {% include "blocks/account/gallery.twig" %}
</section>


{% endif %}

{% endblock %}