{% extends "layout.twig" %} {% block title %}
MGM - Unsplash
{% endblock %}

{% block content %}

{%  if session.admin == true %}
<section>
    <h2>Rechercher une image via Unsplash</h2>
    <form id="unsplash-form" action="" method="POST">
        <input type="text" id="unsplash-query" name="rechercher une image" />
        <button class="btn btn-secondary" type="submit">Rechercher</button>
    </form>
    <div id="unsplash-container">

    </div>
    <div id="unsplash-pagination"></div>
</section>


{% endif %}

{% endblock %}