<div class="paddingsection">
    <h2 class="racking-in-expand">CONTACT</h2>
    <h3>Remplissez ce formulaire pour me contacter</h3>
    <hr>
    <div class="pageContainer">
        <div>
            <p>Si vous avez des questions ou besoin devis, n'hésitez pas !</p>
            <p>Les informations personnelles saisies restent confidentielles.</p>
            {% include "blocks/contact/form.twig" %}
        </div>
    </div>
</div>