<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Votre nom complet" id="name" name="username">
        </div>
        <div class="form-group col-md-6">
            <input type="email" class="form-control" placeholder="Votre adresse mail" id="mail" name="usermail">
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Le sujet de votre message" id="topic" name="usertopic">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Votre numéro de télephone" id="telephone" name="usertelephone">
        </div>
        <textarea type='text' class="form-control" placeholder="Votre message" id="exampleFormControlTextarea1" rows="3" name="usertext"></textarea>
        <div class="buttonContainer">
            <button class="btn btn-success" type="submit">Envoyer</button>
        </div>
</form>