{% extends "layout.twig" %} {% block title %} Admin - MGM {% endblock %} {% block content %}
<div class="centercard">
<div class="card">
        <div class="card-header">
    <h2>Bienvenue {{ session.pseudo }}</h2>
    </div>
    <div class="card-body">
    <p class="cardtextcenter">Que voulez-vous faire ?</p>
{%if role == ADMIN %}
    <div class="centerdiv">
       <a class="btn btn-secondary centerbut admin" href="{{ path_for('manage_photos') }}">Ajouter des photos</a>
    </div>
{%endif%}
    <div class="centerdiv">
        <a class="btn btn-secondary centerbut" href="{{ path_for('user_gallery') }}">Voir la gallerie d'images</a>
    </div>

    <div class="centerdiv">
        <a class="btn btn-secondary centerbut" href="{{ path_for('user_unsplashgallery') }}">Rechercher via Unsplash</a>
    </div>
</div>

</div>
</div>
<section  id="contact">
    {% include "blocks/contact/contact.twig" %}
</section>
{% endblock %}