<form  action="{{ path_for('') }}" class="inscriptionform">
    <div class="form-group">
        <label for="exampleFormControlInput1">Pseudo</label>
        <input type="text" id="pseudo" name="pseudo" class="form-control">
    </div>
    
</form>