<div class="card" style="width: 18rem;">
    <img src="./media/portfoliophoto/fire.jpg" class="card-img-top" alt="fire newspapers">
    <div class="card-body">
        <h5 class="card-title">Fire</h5>
        <p class="card-text">Pour télécharger cette photo cliquez-ici</p>
        <a href="./media/portfoliophoto/fire.jpg" download="fire.jpg" class="btn btn-primary">Go</a>
    </div>
</div>
  <div class="card" style="width: 18rem;">
    <img src="./media/portfoliophoto/flowers.jpg" class="card-img-top" alt="flowers white">
    <div class="card-body">
        <h5 class="card-title">Flowers</h5>
        <p class="card-text">Pour télécharger cette photo cliquez-ici</p>
        <a href="./media/portfoliophoto/flowers.jpg" download="flowers.jpg" class="btn btn-primary">Go</a>
    </div>
</div>
  <div class="card" style="width: 18rem;">
    <img src="./media/portfoliophoto/gardenvienna.jpg" class="card-img-top" alt="garden vienna">
    <div class="card-body">
        <h5 class="card-title">Garden</h5>
        <p class="card-text">Pour télécharger cette photo cliquez-ici</p>
        <a href="./media/portfoliophoto/gardenvienna.jpg" download="garden.jpg" class="btn btn-primary">Go</a>
    </div>
</div>
  <div class="card" style="width: 18rem;">
    <img src="./media/portfoliophoto/lyonparking.jpg" class="card-img-top" alt="lyon parking light">
    <div class="card-body">
        <h5 class="card-title">Lyon</h5>
        <p class="card-text">Pour télécharger cette photo cliquez-ici</p>
        <a href="./media/portfoliophoto/lyonparking.jpg"download="lyon.jpg" class="btn btn-primary">Go</a>
    </div>
</div>
  <div class="card" style="width: 18rem;">
    <img src="./media/portfoliophoto/metro.jpg" class="card-img-top" alt="metro lyon">
    <div class="card-body">
        <h5 class="card-title">Métro</h5>
        <p class="card-text">Pour télécharger cette photo cliquez-ici</p>
        <a href="./media/portfoliophoto/metro.jpg" download="metro.jpg" class="btn btn-primary">Go</a>
    </div>
</div>
  <div class="card" style="width: 18rem;">
    <img src="./media/portfoliophoto/spiralstaircaise.jpg" class="card-img-top" alt="spiralstaircaise red">
    <div class="card-body">
        <h5 class="card-title">Spiralstaircaise</h5>
        <p class="card-text">Pour télécharger cette photo cliquez-ici</p>
        <a href="./media/portfoliophoto/spiralstaircaise.jpg" download="spiral.jpg" class="btn btn-primary">Go</a>
    </div>
</div>
  <div class="card" style="width: 18rem;">
    <img src="./media/portfoliophoto/view.jpg" class="card-img-top" alt="view lyon skyscrapers">
    <div class="card-body">
        <h5 class="card-title">View</h5>
        <p class="card-text">Pour télécharger cette photo cliquez-ici</p>
        <a href="./media/portfoliophoto/view.jpg" class="btn btn-primary">Go</a>
    </div>
</div>
  <div class="card" style="width: 18rem;">
    <img src="./media/portfoliophoto/staircaise.jpg" class="card-img-top" alt="staircaise book">
    <div class="card-body">
        <h5 class="card-title">Staircaise</h5>
        <p class="card-text">Pour télécharger cette photo cliquez-ici</p>
        <a href="./media/portfoliophoto/staircaise.jpg" download="staircaise.jpg" class="btn btn-primary">Go</a>
    </div>
</div>