<div class="offres">

  <div class="row">

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Création de site web</h5>
          <p class="card-text">Une fois l'offre vallidée, nous vous recontacterons par mail!</p>
          <!--<a href="#" class="btn btn-primary">Demander</a>-->
          <form method="post" action="">
            <input type="submit" class="btn btn-primary" value="Demander" name="create">
        </form>
        </div>
      </div>
    </div>

    

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Maintenance de votre site web</h5>
            <p class="card-text">Une fois l'offre vallidée, nous vous recontacterons par mail!</p>
            <form method="post" action="">
              <input type="submit" class="btn btn-primary" value="Demander" name="maintenance">
          </form>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Création de charte graphique pour votre entrprise</h5>
              <p class="card-text">Une fois l'offre vallidée, nous vous recontacterons par mail!</p>
              <form method="post" action="">
                <input type="submit" class="btn btn-primary" value="Demander" name="graphic">
            </form>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Shooting photo</h5>
                <p class="card-text">Une fois l'offre vallidée, nous vous recontacterons par mail!</p>
                <form method="post" action="">
                  <input type="submit" class="btn btn-primary" value="Demander" name="shooting">
              </form>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Retouches photos</h5>
                  <p class="card-text">Une fois l'offre vallidée, nous vous recontacterons par mail!</p>
                  <form method="post" action="">
                    <input type="submit" class="btn btn-primary" value="Demander" name="retouch">
                </form>
                </div>
              </div>
            </div>

    </div>


    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Votre offre</h5>
            <?php while ($showValidOffers = $recoveredvalidOffer->fetch()) { ?>
            <p class="card-text"><?= $showValidOffers['offer'] ?></p>
            <?php } ?>
          </div>
        </div>
      </div>

</div>