<div class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Si vous souhaitez télecharger des photos</h3>
       <p class="card-text">Téléchargez une multitude de contenu différents grâce à le regroupement de mes photos et celles de la plateforme unsplash</p>
        <a href="{{ path_for('') }}"><input class="btn btn btn-light" value="Cliquez ici"></a>
    </div>