.explain{
    width: inherit;
    margin:2%;
}
.explainContener{
    display: inherit;
    display: block;
}
.container1{
    display: block;
    width: 100%;
    margin: 2%;
}
.container{
    width: 100%;
}
.picContainer{
    width: 40%;
}
.picture{
    width: 30%;
    height: 30%;
}
.portrait{
        width: 100%;
}

#name, #mail, #telephone, #topic, #exampleFormControlTextarea1{
    width: 50%;
}
/*@media screen and (max-width: 580px) {*/
    .content-page {
        /* pour compenser le menu qui est en position fixed et faire passer le contenu de la page en dessous*/
        padding-top: 65px;
    }
    
    .content-page.content-home-page {
        padding-top: 65px;
    }

    .lightbox-photos-container {
        justify-content: center;
    }
    .lightbox-photo-item {
        width: 90%;
    }

    .explain {
        width: 90%;
    }

    .explainContener {
        justify-content: center;

    }

/*}*/