.explain{
    width: inherit;
    margin:2%;
}
.explainContener{
    display: inherit;
    display: block;
}
.container1{
    display: block;
    width: 100%;
    margin: 2%;
}
.container{
    width: 100%;
}
.picContainer{
    width: 40%;
}
.picture{
    width: 30%;
    height: 30%;
}
.portrait{
        width: 100%;
}

#name, #mail, #telephone, #topic, #exampleFormControlTextarea1{
    width: 100%;
}
.content-page {
    /* pour compenser le menu qui est en position fixed et faire passer le contenu de la page en dessous*/
    padding-top: 85px;
}

.content-page.content-home-page {
    padding-top: 65px;
}

.lightbox-photos-container {
    justify-content: center;
}
.lightbox-photo-item {
    width: 90%;
}

.explain {
    width: 90%;
}

.explainContener {
    justify-content: center;

}
.picture{
    height: auto;
}
.row{
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}
.row .pictureAdmin,.row .picDowload, .row .picUnsplash{
    max-width: inherit;
    width: 100%;
    margin-bottom: 1em;
}
.detail{
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.detail p{
    width: 100%;
}
.card{
    margin: 0 auto;
    width: 100%;
}
.card .card-text{
    width: 100%;
    text-align: center;
}
.explain{
    margin: 1em auto;
}
h2{
    text-align: center;
}
.content-page{
    padding-top: 4em;
}
footer{
    text-align: center;
}