html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    font-family: Roboto, Sans-serif, Fantasy;
    padding: 0;
    margin: 0;
    width: 100%;
}
nav{
    margin: 0;
    padding: 0;
}
#fixe {

    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: black;
    opacity: 0.9;
    z-index: 800;
    box-shadow: 0px 1px 1px white;
    -webkit-transition: 0.3s;
}
#fixe:hover{
    opacity: 1;
}
.paddingsection{
    padding: 3% 0%;
}
.globalfixe {
    display: flex;
    width: 100%;
}

#fixe ul {
    display: flex;
    list-style: none;
    width: 50%;
}

#fixe li a {

    color: white;
    padding: 20px 16px;
    text-decoration: none;
    -webkit-transition: 0.3s;
}

#fixe li a:hover {

    color: #17A2B8;
}
.log{
    margin-top: -1.5%;
}
.logo {
    width: 30%;
}
.btn {
    border: transparent;
    margin: 1%;
}
#portfolio {
    background-color: white;
}
section h3{
    text-align: center;
    font-weight: lighter;
    font-size: 1.5em;
}
h2 {
    color: black;
    display: flex;
    justify-content: center;
}



.text {
    color: white;
    font-size: 60px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
}



.explainContener {
    width: 100%;
    display: flex;
}
.services{
    font-size: 40px;
    display: flex;
    justify-content:center;
    margin-bottom: 10%;
}
#sectionservices{
    background-color: #343a40;
}
h4 {
    display: flex;
    justify-content: center;
}
.explain {
    justify-content: center;
    width: 20%;
    border-radius: 5px;
    padding: 42px 22px;
    margin: 1% 1%;
    background-color: white;
    -webkit-transition: 0.3s;
    cursor: crosshair;
}

.explain:hover {
    background-color: #17a2b8;
    color: white;
}
.explain h4{
    text-align: center;
}

.container {
    position: relative;
    width: 30%;
    display: inline-block;
    margin: 10px 10px;
}

.img-thumbnail{
    margin: 2%;
    width: 20%;
}
#sectionphotos{
    background-color: #212529;
}
.exemple {
    width: 100%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.legend {
    background-color: #f2e5d0;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
    border-color: transparent;
    margin: 2%;
    bottom: 1px;
}
.legend:hover{
  background-color: #42403d;
    color:#f2e5d0;  
}

.picture {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.more {
    display: flex;
    justify-content: space-around;
}

.portrait {
    display: flex;
    justify-content: center;
    width: 14%;
}
#sectionabout{
    background-color: #343a40 ;
}
.cv {
   
    background-color:#42403d;
    color: white;
    font-size: 16px;
   border: none;
    height: 50%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.cv:hover{
    background-color: white;
    color: #42403d;
}

.detail {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top:5%;
}

#contact {
    background-color: white;
}
.button {
    background-color: white;
    color: black;
    font-size: 16px;
   border: none;
    padding: 15px 32px;
text-align: center;
text-decoration: none;
    cursor: pointer;
    opacity: inherit;
}
.button:hover{
    background-color: black;
    color: white;
}
.lineform {
    display: flex;
}

.line {
    flex: 6;
}

.bigline {
    flex: 12;
}

input {
    margin-top: 1%;
    margin-bottom: 1%;
}

#map {
    height: 30vh;
    flex: 12;
}

.map-flex{
    display: flex;
}

.container1 {
    width: 100%;
    justify-content: space-around;
    display: flex;
}
.copyright{
    display: flex;
    justify-content: center;
    margin: auto 0;
    color: #42403d;
}
.link{
    margin: 0.5%;
    color: black;
}
.social-media{
    width: 100%;
    height: auto;
}
.adaptive-box{
    width: 100%;
    display: flex;
}
.adaptive-box .social-box{
    flex: 4;
    height: auto;
    text-align: center;
    font-size: 4em;
    color: white;
    -webkit-transition: 0.5s;
}
.adaptive-box .instagram{
    background-color: #E1306C;
}
.adaptive-box .instagram:hover{
    opacity: 0.8;
}
.adaptive-box .linkedin{
    background-color: #0077B5;
}
.adaptive-box .linkedin:hover{
    opacity: 0.8;
}
.adaptive-box .mail{
    background-color: #777777;
}
.adaptive-box .mail:hover{
    opacity: 0.8;
}
.pageContainer{
    width: 90%;
    margin: 0 auto;
}

.counter{
    text-align: center;
}
.counter .col-3{
    border-right: 3px solid black;
}
.counter .nb{
    border-right: none;
}
.counter i
{
    font-size: 3em;
    color: #777777;
}
.counter .number
{
    font-size: 3em;
    color: white;
    margin: 0.2em;
    padding: 0;
    opacity: 1;
    font-weight: bold;
}
.counter h2
{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: #777777;
}
#counter-id{
    background-color: #212529;
}
.buttonContainer
{
    width: 100%;
    text-align: center;
}
.card-text{
    text-align: center;
    height: 50%;
    margin: 5%;
}
.card{
    -webkit-transition: 0.3s;
}
.card:hover{
    background-color: lightgray;
}
.white{
    color: white;
}
footer{
    width: 100%;
    text-align: center;
}
.footer-logo{
    margin: 0 auto;
    width: 7em;
}
.content-page{
    margin-top:5%;
}
.white{
    color: white;
}
.whitetext{
    color: white;
    display: flex;
    justify-content: center;
}