{% extends "layout.twig" %} {% block title %} MGM - Contact {% endblock %} {% block content %}

<section class="dark-bg">
    {% include "blocks/presentation/presentation.twig" %}
</section>


<section>
    {% include "blocks/contact/contact.twig" %}
</section>

<section class="px-0">
    {% include "blocks/socials/socials.twig" %}
</section>

{% endblock %}