{% extends "layout.twig" %}

{% block title %}
    Admin - MGM
{% endblock %}

{% block content %}

<div class="container">
    <h2>Se connecter</h2>
    {{ message }}
    {% include "blocks/login.twig" %}
</div>




{% endblock %}