{% extends "layout.twig" %}

{% block title %}
    Admin - MGM
{% endblock %}

{% block content %}

<div class="container my-4">
    <h2>Se connecter</h2>
    <p>Connectez-vous pour avoir accès à un maximum de contenu !</p>
    {{ message }}
    {% include "blocks/login.twig" %}
</div>




{% endblock %}