{% extends "layout.twig" %}

{% block title %}
    Admin - MGM
{% endblock %}

{% block content %}

<div class="container my-4">
    <h2>Se connecter</h2>
    <p>Ajouter un texte ici pour expliquer pourquoi se connecter</p>
    {{ message }}
    {% include "blocks/login.twig" %}
</div>




{% endblock %}