{% extends "layout.twig" %}

{% block title %}
    MGM - Member
{% endblock %}

{% block content %}
    <section class="px-0">
        {% include "blocks/member/welcome.twig" %}
    </section>
    <section id="sectionphotos" class="dark-bg ">
        {% include "blocks/member/photos.twig" %}
    </section>
    <section class="px-0">
        {% include "blocks/member/offre.twig" %}
    </section>
    <section class="px-0">
        {% include "blocks/member/changes.twig" %}
    </section>

{% endblock %}