{% extends "layout.twig" %}
{% block title %}
    Admin - MGM
{% endblock %}
{% block content %}

    <div class="container my-4">
        <h2>S'inscrire</h2>
        <p>Inscrivez-vous pour avoir accès à un maximum de contenu !</p>
        {{ message }}
        {% include "blocks/register.twig" %}
    </div>

{% endblock %}
