{% extends "layout.twig" %}
{% block title %}
    Admin - MGM
{% endblock %}
{% block content %}

    <div class="container my-4">
        <h2>S'inscrire</h2>
        <p>Créer un compte vous permettra d'avoir accès au télechargement de nombreuses photos, faites par mes soins ou via une librairie de nombreux photographes</p>
        {{ message }}
        {% include "blocks/register.twig" %}
    </div>

{% endblock %}
