<div class="paddingsection">
    <h2 class="title">LES SERVICES QUI VOUS SONT PROPOSES</h2>
    <div class="explainContener">
        <div class="explain">
            <i class="fas fa-code services"></i>
            <h4>Création de site web</h4>
            <p>Primis dissidentes auspiciis Roma non in perfectam auspiciis Roma primis plerumque dissidentes venerat victura non pacis foedere in plerumque dum Fortuna victura ut perfectam venerat sublimibus sublimibus in Roma perfectam quo primis </p>
        </div>
        <div class="explain">
            <i class="fas fa-wrench services"></i>
            <h4>Maintenance de votre site web</h4>
            <p>Cursibus victoriis passibus nec conferri citius potuisse lustratae oculos usurpare omnis ante oculos dissimilitudine magnitudine contentionum potuisse ponere lustratae omnis contentionum celeritate citius vero ante nec exterarum idque nostrorum
                posse.</p>
        </div>
        <div class="explain">
            <i class="fas fa-pencil-alt services"></i>
            <h4>Création de charte graphique pour votre entrprise</h4>
            <p>oma dum Roma convenit erunt sublimibus perfectam ad mundanum fulgorem Fortuna si primis augeretur venerat non primis incrementis primis auspiciis auspiciis perfectam Fortuna summitatem quo</p>
        </div>
        <div class="explain">
            <i class="fas fa-camera services"></i>
            <h4>Shooting photo</h4>
            <p>Virtus victura defuisset summitatem altera foedere sublimibus ut defuisset in plerumque sublimibus summitatem si incrementis augeretur foedere sublimibus foedere fulgorem non primis victura surgeret dissidentes atque pacis atque quo non</p>
        </div>
        <div class="explain">
            <i class="fas fa-image services"></i>
            <h4>Retouches photos</h4>
            <p>Quoque inlecebris quam aliqua tuto insidias iam paria ut quae muneratam latenter super muneratam in locata ad ut nocendum quae.</p>
        </div>
    </div>
</div>