<div class="paddingsection">
    <h2 class="title whitetitle">LES SERVICES QUI VOUS SONT PROPOSES</h2>
    <div class="explainContener">
        <div class="explain">
            <i class="fas fa-code services"></i>
            <h4>Création de site web</h4>
            <p>Selon vos besoin je créerai un site tout à votre image ! Je vous propose des sites développés à partir de zéro ce qui permet une fléxibilité ou bien à partit de CMS pour plus de rapidité !  </p>
        </div>
        <div class="explain">
            <i class="fas fa-wrench services"></i>
            <h4>Maintenance de votre site web</h4>
            <p>Un site pas mis à jour est plus sujet au failles et donc hackage, confiez moi votre site pour pouvoir être serain. De plus je vous propose dans ce forfait un total de 6 modification par mois sur votre site pour toujours plus de nouveauté.</p>
        </div>
        <div class="explain">
            <i class="fas fa-pencil-alt services"></i>
            <h4>Création de charte graphique pour votre entrprise</h4>
            <p>La charte graphique est essentielle pour faire passer les valeurs de votre entreprise. C'est plus ou moins sa carte d'identitée. Pensez-y cela peut faire LA différence dont vous avez besoin.</p>
        </div>
        <div class="explain">
            <i class="fas fa-camera services"></i>
            <h4>Shooting photo</h4>
            <p>Je vous propose des séance de shooting à thème, en studio, seul, en couple ou bien en groupe !</p>
        </div>
        <div class="explain">
            <i class="fas fa-image services"></i>
            <h4>Retouches photos</h4>
            <p>Une photo retouchée et non retouchée est totalement différente, selon vos besoin je peux vous proposer différentes options. N'hésitez pas à me contacter !</p>
        </div>
    </div>
</div>