<div class="social-media">
    <div class="adaptive-box">
        <a class="social-box instagram" target="_blank" href="https://facebook.com"><i class="fab fa-instagram"></i></a>
        <a class="social-box linkedin" target="_blank" href="https://facebook.com"><i class="fab fa-linkedin"></i></a>
        <a class="social-box mail" target="_blank" href="https://facebook.com"><i class="fas fa-envelope"></i></a>
    </div>
</div>