
<div class="map-flex">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.558184181331!2d4.823574315530556!3d45.76000267910548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ebab8258c227%3A0x75377c9257b1006b!2sVieux%20Lyon!5e0!3m2!1sfr!2sfr!4v1567960893015!5m2!1sfr!2sfr" width="1700" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>