<div class="paddingsection">
    <div class="pageContainer">
        <h2 class="racking-in-expand whitetitle">UN PEU PLUS SUR MOI</h2>
        <div class="row">
            <div class="portrait col-12 col-md-2"><img src="medias/portrait.jpg" alt="portrait" class="picture"></div>
            <div class="detail col-12 col-md-10">
                <p>Je me présente, Manon Gomez. Je suis étudiante en alternance à l'It Akademy. Mon poste à Cyloé (Agence de conseil en strategie et solutions web) m'a permis d'être oppérationnelle en développement et gestion de projet. Vous pouvez me confier tout projets les yeux fermés je saurais répondre à tous vos besoin. Si vous avez la moindre question n'hésitez pas à me contacter</p>
               <a class="cv" href="./medias/cv.pdf" download="cv.pdf">Télécharger mon CV ici</a>
            </div>
        </div>
    </div>
</div>