<div class="paddingsection">
    <h2>PORTFOLIO</h2>
    <h3>Mes principaux sites web crées :</h3>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card my-2">
                <img src="medias/projet1.PNG" alt="Avatar" class="exemple">
                <p class="card-text">Langages utilisés: HTML,CSS<br>Création d'un site maquette avec une charte
                    graphique.</p>
                <a href="https://chaffy.net/manon/WEBAGENCY/" class="btn btn-secondary">VOIR</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card my-2">
                <img src="medias/projet2.PNG" alt="Avatar" class="exemple">
                <p class="card-text">Langages utilisés: CSS<br>Création d'un thème WordPress enfant avec des animations
                    CSS,
                    valide pour le réferencement SEO.</p>
                <a href="https://chaffy.net/manon/wordpress/" class="btn btn-secondary">VOIR</a>

            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card my-2">
                <img src="medias/projet3.PNG" alt="Avatar" class="exemple">
                <p class="card-text">Langages utilisés: HTML,CSS,Javscript<br>Création d'une carte intéractive de
                    location
                    de vélos avec l'API JCDecaux.</p>
                <a href="https://chaffy.net/manon/LyonVélos/" class="btn btn-secondary">VOIR</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card my-2">
                <img src="medias/projet4.PNG" alt="Avatar" class="exemple">
                <p class="card-text">Langages utilisés:HTML,CSS,PHP<br>Création d'un blog pour écrivain avec des billets et commentaires. Utilisation de l'API timyMCE</p>
                <a href="https://chaffy.net/manon/JeanForteroche/" class="btn btn-secondary">VOIR</a>
            </div>
        </div>
    </div>
</div>